# Test Results

As of 17th June 2016

* MacOS X Yosemite
  * Chrome 50
    * Raster
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
    * Vector
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
  * Firefox 41
    * Raster
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
    * Vector
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
  * Firefox 47
    * Raster
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL** (does not render image at all)
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
    * Vector
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL** (does not render image at all)
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
  * Safari 9.1.1
    * Raster
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
    * Vector
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
  * Opera 37
    * Raster
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
    * Vector
      * Inline SVG: **PASS**
      * &lt;img&gt;: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
      * &lt;object&gt;: **PASS**
      * &lt;embed&gt;: **PASS**
      * &lt;iframe&gt;: **PASS**
