# Test Results

As of 17th June 2016

* MacOS X Yosemite
  * Chrome 50
    * Raster
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
    * Vector
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
  * Firefox 41
    * Raster
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
    * Vector
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
  * Firefox 47
    * Raster
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL** (does not render image at all)
    * Vector
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL** (does not render image at all)
  * Safari 9.1.1
    * Raster
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
    * Vector
      * Inline SVG: **PASS**
      * <img>: **FAIL**
      * CSS background: **FAIL**
      * CSS content: **FAIL**
